extends layout 
 
block content 
  h1= title 
  
  if (toShow == null) 
    h2 No instance to delete 
  else
  - let fishesid = toShow._id 
  - let Fish_Name = toShow.Fish_Name 
  - let country  = toShow.country 
  - let price = toShow.price 
  - let items = results; 
  
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{fishesid} 
  - let actionid = "/resource/fishes/" + fishesid 
  form(id='fishesForm', action= actionid, method="PUT") 
    div.form-group 
        label.fishesAttr(for='fishes_type') fishes  Fish_Name 
        input#Fish_Name(type='text', name='fishes_type', value= Fish_Name ) 
    div.form-group 
        label.fishesAttr(for='country') fishes country 
        input#country(type='text', name='country', value= country ) 
    div.form-group 
        label.fishesAttr(for='price') fishes  price 
        input#price(type='number', name='price', value= price ) 
    input(type="submit") 
    
 
  script. 
    document.forms['fishesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 